

#search-input {
  width: 50%;
  border: 3px solid yellow;
  border-right: none;
  padding: 5px;
  height: 40px;
  border-radius: 5px 5px 5px 5px;
  margin-top: 4%;
  color: black;
}

.search-button {
  background: yellow;
  border: 1px solid yellow;
  border-radius: 5px 5px 5px 5px;
  color: #141527;
  cursor: pointer;
  font-size: 20px;
  height: 40px;
  margin-left: 3%;
  margin-right: 7%;
  text-align: center;
  width: 80px;
}
